body {
    font-family: Arial;
    background: #ffe6f2;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(232, 67, 147, 0.3);
}

h2 {
    text-align: center;
    color: #e84393;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #f5a3c7;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #e84393;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #d63384;
}
